body{
    background-color: #D3E3F3;
}

#add-btn{
    float: right;
}

.fa-trash, .fa-pencil{
    color: brown;
    float: right;
}

.header{
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.group{
    text-align: center;
    display: inline-block;
    width: 46%;
    background-color: #ECECEC;
    padding: 2px;
    margin: 5px;
}

.highlight{
    display: inline-block;
    width: 175px;
    margin: 5px;
    word-wrap: break-word;
    padding: 6px;
}

.head-box{
    background-color: goldenrod;
}

.zoomout{
    position: absolute;
    top: 5px;
    left: 50px;
    padding: 2px;
    color: black;
}

.zoomin{
    position: absolute;
    top: 5px;
    padding: 2px;
    color: black;
}
